{% extends "base_layout.html" %}

{% block body %}
<h1 style="font-style: italic">Brands:</h1>
<div class="input-group">
    <form method="post" class="search-label-icon w-100">
        {% csrf_token %}
        <div class="form-outline" data-mdb-input-init>
            {{ form }}
        </div>
        <input class="btn btn-primary" type="submit" value="Search">
    </form>
</div>
<div class="mt-5">
    <ul>
        {% for brand in brands %}
            <li>
                <a target="_blank" href="{% url 'brand' brand.id %}">{{brand.brand_name}}: {{brand.brand_country}}</a>
            </li>
        {% endfor %}
    </ul>

</div>


{% endblock %}